# **Toilets: Public Libraries**

This notebook explores the locations of public libraries in Los Angeles City & County. As a publicly available resource, libraries have restrooms on site and are an alternative option to teh scarce publicly available toilets throughout the City. For the purposes of this notebook, we are analyzing data from the Los Angeles Public library system as well as LA County Library since they are the two branches found throughout LA City.

**Accessing Data from Library Systems**

First we will begin by extracting some branch information from the Los Angeles County Library API.

In [1]:
#First I will create a pandas dataframe (countylib) of all LA County Library locations, including their name, hours, and the other information that is returned from the branch information API.

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.lacounty.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.lacounty.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("nrtn-ga3s", limit=2000)

# Convert to pandas DataFrame
countylib = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [2]:
countylib

,sup_dist,cost_code,library_name,city,zip_code,square_footage,year_built,mon,tue,wed,thur,fri,sat,sun,collection_size,address_and_location,:@computed_region_x8wy_s94z
0,1,604,Anthony Quinn,Los Angeles,90063,7275,1973,11-8,11-8,11-6,11-6,11-5,11-5,Closed,48134,"{'latitude': '34.0408', 'longitude': '-118.18'...",24028
1,1,803,Baldwin Park,Baldwin Park,91706,15555,1969,Closed,12-8,1-8,1-8,10-5,10-5,Closed,64948,"{'latitude': '34.0881', 'longitude': '-117.966...",8895
2,1,630,Bell,Bell,90201,4863,1960,Closed,10-8,10-6,11-5,11-5,12-5,Closed,36396,"{'latitude': '33.9783', 'longitude': '-118.189...",24345
3,1,631,Bell Gardens,Bell Gardens,90201,5119,1968,Closed,10-7,10-7,10-7,10-6,10-5,Closed,34771,"{'latitude': '33.9672', 'longitude': '-118.151...",24345
4,1,616,Chet Holifield,Montebello,90640,5500,1969,12-7,12-7,11-6,11-6,Closed,Closed,Closed,31346,"{'latitude': '33.9935', 'longitude': '-118.12'...",25733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,5,110,Quartz Hill,Quartz Hill,93536,3530,1959,10-5,10-8,10-8,10-5,10-5,10-5,Closed,40001,"{'latitude': '34.6462', 'longitude': '-118.218...",26967
81,5,808,San Dimas,San Dimas,91773,13628,1971,10-6,10-6,12-8,12-8,10-5,10-5,Closed,85350,"{'latitude': '34.1082', 'longitude': '-117.803...",10134
82,5,625,San Gabriel,San Gabriel,91776,13718,1967,10-8,10-8,10-8,12-6,12-5,10-5,Closed,66178,"{'latitude': '34.0956', 'longitude': '-118.099...",10137
83,5,126,Stevenson Ranch,Stevenson Ranch,91381,11551,2015,10-8,10-8,10-8,10-6,10-5,10-5,Closed,55234,"{'latitude': '34.3932', 'longitude': '-118.573...",19351
84,5,628,Temple City,Temple City,91780,12182,1962,10-6,10-8,10-8,12-8,12-5,10-5,Closed,53462,"{'latitude': '34.1084', 'longitude': '-118.058...",10139

In [3]:
countylib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sup_dist                     85 non-null     object
 1   cost_code                    85 non-null     object
 2   library_name                 85 non-null     object
 3   city                         85 non-null     object
 4   zip_code                     85 non-null     object
 5   square_footage               85 non-null     object
 6   year_built                   85 non-null     object
 7   mon                          85 non-null     object
 8   tue                          85 non-null     object
 9   wed                          85 non-null     object
 10  thur                         85 non-null     object
 11  fri                          85 non-null     object
 12  sat                          85 non-null     object
 13  sun                          85 non-null     object
 14  collection_size              85 non-null     object
 15  address_and_location         85 non-null     object
 16  :@computed_region_x8wy_s94z  85 non-null     object
dtypes: object(17)
memory usage: 11.4+ KB

In [4]:
countylib.address_and_location

0     {'latitude': '34.0408', 'longitude': '-118.18'...
1     {'latitude': '34.0881', 'longitude': '-117.966...
2     {'latitude': '33.9783', 'longitude': '-118.189...
3     {'latitude': '33.9672', 'longitude': '-118.151...
4     {'latitude': '33.9935', 'longitude': '-118.12'...
                            ...
80    {'latitude': '34.6462', 'longitude': '-118.218...
81    {'latitude': '34.1082', 'longitude': '-117.803...
82    {'latitude': '34.0956', 'longitude': '-118.099...
83    {'latitude': '34.3932', 'longitude': '-118.573...
84    {'latitude': '34.1084', 'longitude': '-118.058...
Name: address_and_location, Length: 85, dtype: object

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [6]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = 'https://data.lacounty.gov/resource/nrtn-ga3s.json' # copied and pasted from the webpage
r = requests.get(url)
df = pd.DataFrame(json.loads(r.text))

df = df.head() # get the first 5 rows, so we don't overload the city's website.
df

,sup_dist,cost_code,library_name,city,zip_code,square_footage,year_built,mon,tue,wed,thur,fri,sat,sun,collection_size,address_and_location,:@computed_region_x8wy_s94z
0,1,604,Anthony Quinn,Los Angeles,90063,7275,1973,11-8,11-8,11-6,11-6,11-5,11-5,Closed,48134,"{'latitude': '34.0408', 'longitude': '-118.18', 'human_address': '{""address"": ""3965 Cesar E. Chavez Ave."", ""city"": ""Los Angeles"", ""state"": """", ""zip"": """"}'}",24028
1,1,803,Baldwin Park,Baldwin Park,91706,15555,1969,Closed,12-8,1-8,1-8,10-5,10-5,Closed,64948,"{'latitude': '34.0881', 'longitude': '-117.966', 'human_address': '{""address"": ""4181 Baldwin Park Blvd."", ""city"": ""Baldwin Park"", ""state"": """", ""zip"": """"}'}",8895
2,1,630,Bell,Bell,90201,4863,1960,Closed,10-8,10-6,11-5,11-5,12-5,Closed,36396,"{'latitude': '33.9783', 'longitude': '-118.189', 'human_address': '{""address"": ""4411 E. Gage Ave."", ""city"": ""Bell"", ""state"": """", ""zip"": """"}'}",24345
3,1,631,Bell Gardens,Bell Gardens,90201,5119,1968,Closed,10-7,10-7,10-7,10-6,10-5,Closed,34771,"{'latitude': '33.9672', 'longitude': '-118.151', 'human_address': '{""address"": ""7110 S. Garfield Ave."", ""city"": ""Bell Gardens"", ""state"": """", ""zip"": """"}'}",24345
4,1,616,Chet Holifield,Montebello,90640,5500,1969,12-7,12-7,11-6,11-6,Closed,Closed,Closed,31346,"{'latitude': '33.9935', 'longitude': '-118.12', 'human_address': '{""address"": ""1060 S. Greenwood Ave."", ""city"": ""Montebello"", ""state"": """", ""zip"": """"}'}",25733

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sup_dist                     5 non-null      object
 1   cost_code                    5 non-null      object
 2   library_name                 5 non-null      object
 3   city                         5 non-null      object
 4   zip_code                     5 non-null      object
 5   square_footage               5 non-null      object
 6   year_built                   5 non-null      object
 7   mon                          5 non-null      object
 8   tue                          5 non-null      object
 9   wed                          5 non-null      object
 10  thur                         5 non-null      object
 11  fri                          5 non-null      object
 12  sat                          5 non-null      object
 13  sun                          5 non-null      object
 14  collection_size              5 non-null      object
 15  address_and_location         5 non-null      object
 16  :@computed_region_x8wy_s94z  5 non-null      object
dtypes: object(17)
memory usage: 808.0+ bytes

In [8]:
urldict = df.loc[0,'link']
print(urldict)

KeyError: 'link'

In [ ]:
# get an example link
countyurl = df.loc[0,'link']['url']
print(countyurl)

# request that page and get the soup object
r = requests.get(countyurl)
soup = BeautifulSoup(r.text)
print(soup.prettify())